main {
  width: 100%;
  height: 100%;
  margin-top: 55px;
}
.first-section {
  color: #fff;
  margin-top: 123px;

  .text-zone {
    position: relative;

    h2 {
      font-size: 40px;
      color: yellow;
    }

    h1 {
      font-size: 70px;
      color: #fafbf9;
      font-weight: 400;

    }
  }
}

.image-zone img {
  width: 92rem;
  position: relative;
  z-index: -1;
  top: -8%;
}

.about-section {
  color: #6c757d;
  right: 49rem;
  position: relative;
}

.about-p-text {
  width: 490px;
  font-size: 15px;
}

.social-zone ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 25px;
  margin-top: 16rem;
  margin-left: 49rem;
}

.social-zone ul li a {
  text-decoration: none;
  padding-right: 15px;
  cursor: pointer;
  color: #fff;
}
.social-zone ul li a:hover{
  color: yellow;
}


.contact-btn {
  margin: 20px 0 20px 0;
  outline: none;
  width: 130px;
  height: 40px;
  border: 2px solid #fff;
  font-family: 'Lato', sans-serif;
  font-weight: 500;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
}


.contact-btn {
  color: #08fdd8;
  font-size: 13px;
  letter-spacing: 4px;
  font-family: "Open Sans", sans-serif;
  text-decoration: none;
  padding: 10px 13px;
  border: 1px solid #08fdd8;
  margin-top: 25px;

  white-space: nowrap;


  background: {
    image: linear-gradient(95deg, #08fdd8 50%, transparent 50%);
    position: 100%;
    size: 400%;
  }


  &:hover {
    background-position: 0;
    border: 2px solid #08fdd8;
    color: #333;
    transition: background .3s ease-in-out;
  }


  &:focus {
    // color: #fff;
    color: #333;

    outline: 0;
  }

  @keyframes fadeInUp {
    0% {
      opacity: 0;
      -webkit-transform: translate3d(0, 100%, 0);
      -ms-transform: translate3d(0, 100%, 0);
      transform: translate3d(0, 100%, 0);
    }

    100% {
      opacity: 1;
      -webkit-transform: none;
      -ms-transform: none;
      transform: none;
    }
  }
}