  .contact-page {
    margin-left: 10%;
  }

  .contact-form {
    width: 100%;
    // height: 100%;
    margin-top: 20px;

    // background: url(https://i.ibb.co/jyRLrBZ/world-map.png);

    ul {
      padding: 0;
      margin: 0;

      li {
        padding: 0;
        margin: 0;
        border-radius: 0.5rem;
        list-style: none;
        margin-bottom: 10px;
        opacity: 0;
        overflow: hidden;
        display: block;
        clear: both;
        position: relative;
        animation: fadeInUp 2s 2s;
        animation-fill-mode: forwards;
      }

      li.half {
        width: 49%;
        margin-left: 2%;
        float: left;
        clear: none;

        &:first-child {
          margin-left: 0;
        }
      }
    }

    input[type='text'],
    input[type='email'] {
      width: 100%;
      border: 0;
      background: #35353576;
      height: 50px;
      font-size: 16px;
      color: #fff;
      padding: 0 20px;
      box-sizing: border-box;
      
        &:focus {
          box-shadow: none;
          border-bottom: 2px solid #08fdd8;
          transition: 0.3s ease all;
          top: 0;
          opacity: 1;
          color: #8e44ad;
          font-size: 15px;
  
          &:after {
            visibility: visible;
            width: 100%;
            left: 0;
  
          }
        }
      
    }

    textarea {
      width: 100%;
      border: 0;
      background: #35353576;
      height: 50px;
      font-size: 16px;
      color: #fff;
      padding: 20px;
      box-sizing: border-box;
      min-height: 150px;

      &:after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 45%;
        height: 2px;
        width: 10px;
        visibility: hidden;
      }

      &:focus {
        box-shadow: none;
        border-bottom: 2px solid #08fdd8;
        transition: 0.2s ease all;
        top: 0;
        opacity: 1;
        color: #8e44ad;
        font-size: 15px;

        &:after {
          visibility: visible;
          width: 100%;
          left: 0;

        }
      }
    }
  }

  .map-wrap {
    background: rgba(8, 253, 216, 0.1);
    float: right;
    width: 50%;
    height: 115%;
    margin-top: -3%;
    margin-left: 104px;
    ;
  }

  .leaflet-container {
    position: relative;
    width: 100%;
    height: 100%;
    opacity: 0;
    animation: backInRight 1s 1.2s;
    animation-fill-mode: forwards;
    // margin-left: 14%;
  }

  .info-map {
    position: absolute;
    background: #fff;
    top: 50px;
    // right: 30%;
    z-index: 1;
    width: 267px;
    padding: 20px;
    color: #fff;
    font-family: 'Helvetica';
    font-size: 17px;
    font-weight: 300;
    opacity: 0;
    border-radius: 0.5rem;
    animation: fadeIn 1s 1.5s;
    animation-fill-mode: forwards;

    span {
      font-size: 16px;

      span {
        color: #ffd700;
      }
    }
  }

  .flat-button1 {
    margin: 20px;
    outline: none;
    width: 130px;
    height: 40px;
    border: 2px solid #fff;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
  }


  .flat-button1 {
    color: #08fdd8;
    font-size: 13px;
    letter-spacing: 4px;
    font-family: "Open Sans", sans-serif;
    text-decoration: none;
    padding: 10px 18px;
    border: 1px solid #08fdd8;
    margin-top: 25px;
    float: left;
    white-space: nowrap;


    background: {
      image: linear-gradient(95deg, #08fdd8 50%, transparent 50%);
      position: 100%;
      size: 400%;
    }


    &:hover {
      background-position: 0;
      border: 2px solid #08fdd8;
      color: #333;
      transition: background .3s ease-in-out;
    }


    &:focus {
      // color: #fff;
      color: #333;

      outline: 0;
    }

    @keyframes fadeInUp {
      0% {
        opacity: 0;
        -webkit-transform: translate3d(0, 100%, 0);
        -ms-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0);
      }

      100% {
        opacity: 1;
        -webkit-transform: none;
        -ms-transform: none;
        transform: none;
      }
    }
  }
  .footer__copy{
    position:absolute;
    z-index: 1000;
    bottom: 7%;
    left: 42%;
    color: #4950579a;
  }