.nav-bar {
  height: 60px;
  width: 100%;
  background: #000;
  z-index: 3;
}

nav {
  display: flex;
  justify-content: space-around;
}

.logo {
  margin-top: -7px;
}

nav ul {
  display: flex;
  flex-direction: row;
  list-style: none;
  color: #fff;
}

nav ul .nav-list {

  color: #fff;
  text-decoration: none;
  color: #fff;
  // text-transform: uppercase;
  text-decoration: none;
  // letter-spacing: 0.15em;

  display: inline-block;
  padding: 15px 20px 0 20px;
  padding-bottom: 0;
  position: relative;
  font-size: 20px;
  cursor: pointer;

}

.nav-list:after {
  background: none repeat scroll 0 0 transparent;
  bottom: 20px;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: #fff;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  // transition: width 0.3s ease 0s, opacity 0.3s ease 0s;
  width: 0;
}

.nav-list:hover:after {
  width: 100%;
  left: 0;
}